<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <div>
      <header>
        <div
          class="flex-me header"
        >
          <div
            class="flex-me column-me"
          >
            <label
              for="look"
            >
              Procurar
            </label>
            <input
              data-testid="name-filter"
              name="look"
              type="text"
            />
          </div>
          <div>
            <select
              data-testid="column-sort"
            >
              <option>
                name
              </option>
              <option>
                rotation_period
              </option>
              <option>
                orbital_period
              </option>
              <option>
                diameter
              </option>
              <option>
                climate
              </option>
              <option>
                gravity
              </option>
              <option>
                terrain
              </option>
              <option>
                surface_water
              </option>
              <option>
                population
              </option>
              <option>
                films
              </option>
              <option>
                created
              </option>
              <option>
                edited
              </option>
              <option>
                url
              </option>
            </select>
            <div>
              <input
                data-testid="column-sort-input-asc"
                id="1"
                name="ord"
                type="radio"
                value="ASC"
              />
              <label
                for="1"
              >
                ASC
              </label>
              <input
                data-testid="column-sort-input-desc"
                id="2"
                name="ord"
                type="radio"
                value="DESC"
              />
              <label
                for="2"
              >
                DSC
              </label>
            </div>
            <button
              data-testid="column-sort-button"
            >
              Ordernar
            </button>
          </div>
          <div
            class="filters "
          >
            <div
              class="flex-me center-me"
            >
              <select
                class="center-me"
                data-testid="column-filter"
              >
                <option
                  disabled=""
                  value=""
                >
                  Coluna
                </option>
                <option
                  value="population"
                >
                  population
                </option>
                <option
                  value="orbital_period"
                >
                  orbital_period
                </option>
                <option
                  value="diameter"
                >
                  diameter
                </option>
                <option
                  value="rotation_period"
                >
                  rotation_period
                </option>
                <option
                  value="surface_water"
                >
                  surface_water
                </option>
              </select>
            </div>
            <div
              class="flex-me center-me"
            >
              <select
                class="center-me"
                data-testid="comparison-filter"
              >
                <option
                  disabled=""
                  value=""
                >
                  Comparação
                </option>
                <option
                  value="maior que"
                >
                  maior que
                </option>
                <option
                  value="menor que"
                >
                  menor que
                </option>
                <option
                  value="igual a"
                >
                  igual a
                </option>
              </select>
            </div>
            <div
              class="flex-me column-me center-me"
            >
              <input
                class="center-me"
                data-testid="value-filter"
                name=""
                type="number"
              />
              <button
                class="center-me"
                data-testid="button-filter"
              >
                Add
              </button>
            </div>
          </div>
          <div
            class="column-me"
          />
        </div>
      </header>
      <table>
        <thead>
          <tr>
            <th>
              name
            </th>
            <th>
              rotation_period
            </th>
            <th>
              orbital_period
            </th>
            <th>
              diameter
            </th>
            <th>
              climate
            </th>
            <th>
              gravity
            </th>
            <th>
              terrain
            </th>
            <th>
              surface_water
            </th>
            <th>
              population
            </th>
            <th>
              films
            </th>
            <th>
              created
            </th>
            <th>
              edited
            </th>
            <th>
              url
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Alderaan
            </td>
            <td>
              24
            </td>
            <td>
              364
            </td>
            <td>
              12500
            </td>
            <td>
              temperate
            </td>
            <td>
              1 standard
            </td>
            <td>
              grasslands, mountains
            </td>
            <td>
              40
            </td>
            <td>
              2000000000
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/films/1/
              https://swapi-trybe.herokuapp.com/api/films/6/
            </td>
            <td>
              2014-12-10T11:35:48.479000Z
            </td>
            <td>
              2014-12-20T20:58:18.420000Z
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/planets/2/
            </td>
          </tr>
          <tr>
            <td>
              Bespin
            </td>
            <td>
              12
            </td>
            <td>
              5110
            </td>
            <td>
              118000
            </td>
            <td>
              temperate
            </td>
            <td>
              1.5 (surface), 1 standard (Cloud City)
            </td>
            <td>
              gas giant
            </td>
            <td>
              0
            </td>
            <td>
              6000000
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/films/2/
            </td>
            <td>
              2014-12-10T11:43:55.240000Z
            </td>
            <td>
              2014-12-20T20:58:18.427000Z
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/planets/6/
            </td>
          </tr>
          <tr>
            <td>
              Coruscant
            </td>
            <td>
              24
            </td>
            <td>
              368
            </td>
            <td>
              12240
            </td>
            <td>
              temperate
            </td>
            <td>
              1 standard
            </td>
            <td>
              cityscape, mountains
            </td>
            <td>
              unknown
            </td>
            <td>
              1000000000000
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/films/3/
              https://swapi-trybe.herokuapp.com/api/films/4/
              https://swapi-trybe.herokuapp.com/api/films/5/
              https://swapi-trybe.herokuapp.com/api/films/6/
            </td>
            <td>
              2014-12-10T11:54:13.921000Z
            </td>
            <td>
              2014-12-20T20:58:18.432000Z
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/planets/9/
            </td>
          </tr>
          <tr>
            <td>
              Dagobah
            </td>
            <td>
              23
            </td>
            <td>
              341
            </td>
            <td>
              8900
            </td>
            <td>
              murky
            </td>
            <td>
              N/A
            </td>
            <td>
              swamp, jungles
            </td>
            <td>
              8
            </td>
            <td>
              unknown
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/films/2/
              https://swapi-trybe.herokuapp.com/api/films/3/
              https://swapi-trybe.herokuapp.com/api/films/6/
            </td>
            <td>
              2014-12-10T11:42:22.590000Z
            </td>
            <td>
              2014-12-20T20:58:18.425000Z
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/planets/5/
            </td>
          </tr>
          <tr>
            <td>
              Endor
            </td>
            <td>
              18
            </td>
            <td>
              402
            </td>
            <td>
              4900
            </td>
            <td>
              temperate
            </td>
            <td>
              0.85 standard
            </td>
            <td>
              forests, mountains, lakes
            </td>
            <td>
              8
            </td>
            <td>
              30000000
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/films/3/
            </td>
            <td>
              2014-12-10T11:50:29.349000Z
            </td>
            <td>
              2014-12-20T20:58:18.429000Z
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/planets/7/
            </td>
          </tr>
          <tr>
            <td>
              Hoth
            </td>
            <td>
              23
            </td>
            <td>
              549
            </td>
            <td>
              7200
            </td>
            <td>
              frozen
            </td>
            <td>
              1.1 standard
            </td>
            <td>
              tundra, ice caves, mountain ranges
            </td>
            <td>
              100
            </td>
            <td>
              unknown
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/films/2/
            </td>
            <td>
              2014-12-10T11:39:13.934000Z
            </td>
            <td>
              2014-12-20T20:58:18.423000Z
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/planets/4/
            </td>
          </tr>
          <tr>
            <td>
              Kamino
            </td>
            <td>
              27
            </td>
            <td>
              463
            </td>
            <td>
              19720
            </td>
            <td>
              temperate
            </td>
            <td>
              1 standard
            </td>
            <td>
              ocean
            </td>
            <td>
              100
            </td>
            <td>
              1000000000
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/films/5/
            </td>
            <td>
              2014-12-10T12:45:06.577000Z
            </td>
            <td>
              2014-12-20T20:58:18.434000Z
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/planets/10/
            </td>
          </tr>
          <tr>
            <td>
              Naboo
            </td>
            <td>
              26
            </td>
            <td>
              312
            </td>
            <td>
              12120
            </td>
            <td>
              temperate
            </td>
            <td>
              1 standard
            </td>
            <td>
              grassy hills, swamps, forests, mountains
            </td>
            <td>
              12
            </td>
            <td>
              4500000000
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/films/3/
              https://swapi-trybe.herokuapp.com/api/films/4/
              https://swapi-trybe.herokuapp.com/api/films/5/
              https://swapi-trybe.herokuapp.com/api/films/6/
            </td>
            <td>
              2014-12-10T11:52:31.066000Z
            </td>
            <td>
              2014-12-20T20:58:18.430000Z
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/planets/8/
            </td>
          </tr>
          <tr>
            <td>
              Tatooine
            </td>
            <td>
              23
            </td>
            <td>
              304
            </td>
            <td>
              10465
            </td>
            <td>
              arid
            </td>
            <td>
              1 standard
            </td>
            <td>
              desert
            </td>
            <td>
              1
            </td>
            <td>
              200000
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/films/1/
              https://swapi-trybe.herokuapp.com/api/films/3/
              https://swapi-trybe.herokuapp.com/api/films/4/
              https://swapi-trybe.herokuapp.com/api/films/5/
              https://swapi-trybe.herokuapp.com/api/films/6/
            </td>
            <td>
              2014-12-09T13:50:49.641000Z
            </td>
            <td>
              2014-12-20T20:58:18.411000Z
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/planets/1/
            </td>
          </tr>
          <tr>
            <td>
              Yavin IV
            </td>
            <td>
              24
            </td>
            <td>
              4818
            </td>
            <td>
              10200
            </td>
            <td>
              temperate, tropical
            </td>
            <td>
              1 standard
            </td>
            <td>
              jungle, rainforests
            </td>
            <td>
              8
            </td>
            <td>
              1000
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/films/1/
            </td>
            <td>
              2014-12-10T11:37:19.144000Z
            </td>
            <td>
              2014-12-20T20:58:18.421000Z
            </td>
            <td>
              https://swapi-trybe.herokuapp.com/api/planets/3/
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>