.numeric-filter-container {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  padding: 05px 5px;
  width: 400px;
}

.numeric-selections {
  display: flex;
  flex-direction: row;
}
