/* .table-body, 
.table-head {
  text-align: center;
}

.table-head {
  background-color: black;
  color: whitesmoke;
  font-size: large;
}

.table-tr th {
  border-right: 3px solid white;
  padding: 5px;
}

.table-body {
  font-size: smaller;
}

.table-body tr td {
  border: none;
  padding: 10px;
} */
